.card__description {
    height: 79px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15px 0 21px;
    align-items: center;
    background-color: white;
}

@media screen and (max-width: 1279px) {
    .card__description {
        height: calc(79 / 1280 * 100vw);
        margin: 0 calc(15 / 1280 * 100vw) 0 calc(21 / 1280 * 100vw);
    }
}

@media screen and (max-width: 1024px) {
    .card__description {
        height: calc(79 / 1024 * 100vw);
        margin: 0 calc(15 / 1024 * 100vw) 0 calc(21 / 1024 * 100vw);
    }
}

@media screen and (max-width: 768px) {
    .card__description {
        height: clamp(50px, 79 / 768 * 100vw, 55px);
        margin: 0 calc(15 / 768 * 100vw) 0 calc(21 / 768 * 100vw);
    }
}

@media screen and (max-width: 425px) {
    .card__description {
        height: 79px;
        margin: 0 15px 0 21px;
    }
}
