.header__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(54, 54, 54, 0.7);
    flex-direction: column;
    opacity: 0;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: 0.7s;
    box-sizing: border-box;
    gap: 18px;
}
