.sign-in__input {
    background-color: black;
    border: none;
    border-bottom: 1px solid #cccccc;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 13px 0;
    color: #ffffff;
    transition: 0.2s;
    box-sizing: border-box;
}

.sign-in__input:focus-visible {
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
}
