.profile__edit {
    width: 24px;
    height: 24px;
    background-color: black;
    border: 1px solid white;
    background-image: url(../../../images/pencil.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.7s;
    background-size: 10px 10px;
}

.profile__edit:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .profile__edit {
        width: 16px;
        height: 16px;
        background-size: 7.5px 7.5px;
    }
}