.footer {
    margin: 67px auto 60px auto;
    max-width: 880px;
}

@media screen and (max-width: 1279px) {
    .footer {
        margin: calc(67 / 1280 * 100vw) auto calc(60 / 1280 * 100vw) auto;
        max-width: calc((1280 - 400) / 1280 * 100vw);
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: calc((1024 - 250) / 1024 * 100vw);
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: calc((768 - 150) / 768 * 100vw);
    }
}

@media screen and (max-width: 425px) {
    .footer {
        max-width: calc((320 - 38) / 320 * 100vw);
        margin: calc(48 / 320 * 100vw) auto calc(36 / 320 * 100vw) auto;
    }
}