.card__like {
    background-image: url(../../../images/like.png);
    background-size: contain;
    height: 19px;
    width: 22px;
    border: 0;
    background-color: white;
    align-items: center;
    align-self: center;
    background-repeat: no-repeat;
    transition: 0.7s;
}

/* @media screen and (max-width: 1279px) {
    .card__like {
        height: calc(19 / 1280 * 100vw);
        width: calc(22 / 1280 * 100vw);
    }
} */

.card__like:hover {
    opacity: 0.5;
    cursor: pointer;
}

.card__like:active {
    background-image: url(../../../images/like_black.png);
}

/* @media screen and (max-width: 1024px) {
    .card__like {
        height: calc(19 / 1024 * 100vw);
        width: calc(22 / 1024 * 100vw);
    }
} */

/* @media screen and (max-width: 768px) {
    .card__like {
        height: calc(19 / 768 * 100vw);
        width: calc(22 / 768 * 100vw);
    }
}

@media screen and (max-width: 425px) {
    .card__like {
        height: calc(19 / 320 * 100vw);
        width: calc(22 / 320 * 100vw);
    }
} */