.popup__container {
    width: 430px;
    padding-bottom: 37px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

@media screen and (max-width: 678px) {
    .popup__container {
        width: 350px;
    }
}

@media screen and (max-width:425px) {
    .popup__container {
        width: 282px;
        padding-bottom: 25px;
    }
}