.profile__leftside {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 425px) {
    .profile__leftside {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}