.header {
    padding: 45px 0 41px 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.7);
    max-width: 880px;
    margin: auto;
}

@media screen and (max-width: 1279px) {
    .header {
        max-width: calc((1280 - 400) / 1280 * 100vw);
    }
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: calc((1024 - 250) / 1024 * 100vw);
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 28px 0 32px 0;
        max-width: calc((768 - 150) / 768 * 100vw);
    }
}

@media screen and (max-width: 425px) {
    .header {
        width: 100%;
        max-width: 100vw;
    }
}